{% extends 'nav.html' %}
{% block content %}
{% load static %}



<div class="container">

<table style="border:none; width: 100%;" >
    <tr>
        <td style="background-color:white" height="160"></td> <!--여백용-->
    </tr>
  
    <tr>
        <td style="width: 45%; vertical-align: top;">
            <div style="float: left; width: 17%;">
                <p></p>
            </div>
            <div class="card h-100" style="border:0; outline:0;">
                <div>
                    <img src = "{% static ppp.pimage %}" width="380" height="568">
                    <div style="height: 45px;">
                    </div>
                    <strong style="font-size: 24px;">{{ppp.name}}</strong>
                    <div style="color: grey; font-size: 18px;">{{ppp.eng_name}}</div>
                    <div style="height: 38px;">
                    </div>
                    <div style="color: grey; font-size: 18px;">{{ppp.email}}</div>
                </div>
            </div>
        </td>


        <td style="width: 55%; vertical-align: top;">
            <div class="row row-cols-1 row-cols-md-2 g-2">
                {% for works in works %}
                {% if ppp.name in works.artist %}
                <div class="col" style="width: 307px;">
                    <div style="border:0; outline:0; width: 307px;">
                        <a href="{% url 'work_detail' works.pk %}"><img src = "{% static works.thumbnail %}" width="278" height="208"></a>
                        <div style="height: 8px;">
                        </div>
                        <div class="card-body" style= "text-align:left; margin: 0; padding: 0; font-size: medium;">
                            <strong class="card-title" style="font-size: 24px;">{{works.title}}</strong>
                            <p class="card-text" style="color: grey; font-size: 18px; margin-bottom: 55px;">{{works.artist}}</p>
                            <br>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </td>
        <!-- <td style="background-color:white; width:5%"></td> -->
    </tr>
    
    <tr>
        <td colspan="2" style="background-color:white" height="100"></td><!--여백용-->
    </tr>
</table>
</div>
{% endblock %}